.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 220px;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
    color: black;
	margin-top: 25px;
	font-family: merienda;
    font-weight: bolder;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
    color: blue;
	font-size: 22px;
	line-height: 1.9;
	font-family: poppins;
}
.carousel-caption a {
	text-transform: uppercase;
	background: #262626;
	padding: 10px 30px;
	display: inline-block;
	color: white;
	margin-top: 15px;
}

.navbar-nav a {
	font-family: poppins;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-light .navbar-brand {
	color: black;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: black;
}
.navbar-light .navbar-nav .nav-link {
	color: black;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}
.w-100 {
	height: 100vh;
}
@media only screen and (max-width: 767px) {
	.navbar-nav.ml-auto {
		background: rgba(0, 0, 0, 0.5);
	}
	.navbar-nav a {
		font-size: 14px;
		font-weight: normal;
	}
}
/*----features----*/
#feature{
    width:100%;
    padding: 70px 0;
    background-color:green;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
title-text p{
    margin:auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
title-text p::after{
    content: '';
    width:50px;
    height: 35px;
    background-color: green; 
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}
.title-text h1{
    font-size: 50px;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 10px;
}
.features h1{
    text-align: left;
    margin-bottom:  10px;
    font-size: 25px;
    font-weight: bold;
    color: #009688;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
#testimonial{
    width100%;
    padding: 70px 0;
}
/*----testimonial----*/
.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow:  0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: transform.5s;
}
.testimonial-col p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info.f{
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;   
}
.user-info small{
    color:aqua
}

.testimonial-col:hover{
    transform: translateY(7px);
}
/*----footer----*/
#footer{
     padding: 100px 0 20px;
    background: #efefef;
}

.title-text p{
      font-size: 35px;
      font-weight:  bolder;
}
.title-text h1{
      font-size: 20px;
      padding: 10px;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
    
}
.footer-row h1{
   line-height: 35px; 
}
.social-links{
    text-align: center;
}